---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import * as aboutData from '../md-content/about.md';
import AboutAuthorCard from '../components/about-author-card.astro';
// Destructure the frontmatter to get the title and persons array
const { title, persons } = aboutData.frontmatter;
---

<Layout>
  <div class="flex flex-col min-h-screen">

    <h1 class="w-full m-4">{title}</h1>
    <!-- Display the person items in a grid with 3 columns -->

    <div class="w-full">
      <div class="about-group w-full">
        {(() => {
            const items = [];
            for (let i = 0; i < persons.length; i++) {
              const person = persons[i];
              items.push(
                <AboutAuthorCard
                  authorname={person.name}
                  task={person.task}
                  background={person.background}
                  email={person.email}
                  image={person.image}
                />
              );
            }
            return items;
          })()}
      </div>
    </div>
  </div>

</Layout>


<style>
  .about-group {
    display: flex;
    flex-direction: row;
  
    justify-content: space-around;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @layer base {
    h1 {
      font-size: var(--text-3xl);
      display: flex;
      text-align: center;
      justify-content: center;
      font-weight: 600;
      font-family: "Ubuntu sans", sans-serif;
    }
  }
</style>