---
import Layout from '../layouts/Layout.astro';
import {Image} from "astro:assets";
import * as deviceContent from "../md-content/deviceContent.md";
import SystemDesign from "../assets/diagrams/updated_system_design.jpg";
import Gallery from "../components/gallery.tsx";

const { titleEsp, titleInternalTool, contentEsp1, contentEsp2, contentInternalTool } = deviceContent.frontmatter;
---

<Layout>
    <div class="flex flex-col min-h-screen mx-20 my-10">        
        <h1>{titleEsp}</h1>
        <span class="flex is-mobile flex-row justify-center items-center gap-8">
            <div class="flex flex-col items-center">
                <div class="rounded-lg w-full aspect-square max-w-md mb-4 flex items-center justify-center">
                    <Image src={SystemDesign} alt="ESP32 Device Design" class="max-w-full max-h-full object-cover rounded-lg border-red-200"/>
                </div>
                {contentEsp1}
            </div>
            <div class="flex flex-col items-center">
                <div class="rounded-lg w-full aspect-square max-w-md mb-4 flex items-center justify-center">
                    <!-- Replace image to the wired ESP32 -->
                    <Image src={SystemDesign} alt="ESP32 Device Design" class="max-w-full max-h-full object-cover rounded-lg border-red-200"/>
                </div>
                {contentEsp2}
            </div>
        </span>
        <h1 class="pt-10">{titleInternalTool}</h1>

        <p>{contentInternalTool}</p>
        <div class="w-full flex justify-center mt-6">
            <!-- Place holder images for the internal tool -->
            <Gallery client:only
            images={[
                { src: SystemDesign.src, alt: "Description 1" },
                { src: SystemDesign.src, alt: "Description 2" },
            ]}/>
        </div>
  
     </div>
</Layout>


<style>
    @layer base {
        h1 {
            font-size: var(--text-5xl);
            @media screen and (max-width: 768px) {
                font-size: var(--text-3xl);
            }
            font-family: "Ubuntu sans", sans-serif;
            font-weight: 900;
        }
        h2 {
            font-size: var(--text-3xl);
            @media screen and (max-width: 768px) {
                font-size: var(--text-2xl);
            }
            font-family: "Ubuntu sans", sans-serif;
            font-weight: 700;
            text-shadow: 1px 1px 4px #000000;

        }
        h3 {
            font-size: var(--text-lg);
            font-family: "Ubuntu sans", sans-serif;
        }
        a {
            color: var(--color-blue-600);
            text-decoration-line: underline;
        }
    }
    .is-mobile {
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }
</style>