---
import "../styles/global.css";
import {Image} from "astro:assets";
import dummyPerson from "../assets/TeamMembers/dummyPerson.jpeg";
import emmanuelHeadshot from "../assets/TeamMembers/emmanuel-headshot.jpeg";

export interface Props {
  authorname: string;
  background: string;
  task: string;
  email: string;
  image: string;
}

const imageMap: Record<string, ImageMetadata> = {
  "dummyPerson": dummyPerson,
  "emmanuelHeadshot": emmanuelHeadshot,
};

const { authorname, background, task, email, image} = Astro.props;


---

<div class="shadow-xl/20 w-full h-full author-card p-4 m-3">     
    <div class="flex justify-center items-center w-full">
      <img src={imageMap[image].src} alt={`${authorname}`} class="caret-transparent max-w-50 rounded-md mx-auto"/>
    </div>
    <h2 class="font-type pt-4">{authorname}</h2>
    <p class="py-3"><span class="font-bold">Task: </span>{task}</p>
    <p class="py-3"><span class="font-bold">Background: </span>{background}</p>
    <p class="py-3">
      <span class="font-bold">Email: </span><a href={`mailto:${email}`}>{email}</a>
    </p>
</div>

<style>
  .author-card {
    padding: 1rem;
    background-color: white;
    max-width: 400px;
    height: auto;
  }
  
  @layer base {
    h2 {
      font-size: var(--text-2xl);
      font-family: 'Ubuntu sans', sans-serif;
      font-weight: 600;
    }
  }

  p {
    font-family: 'Inter', sans-serif;
  }

</style>

